@using PaiXie.Data;
@{
    var Sysarea = ViewBag.Sysarea as Sysarea;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{

}

<form id="ff" method="post" novalidate="novalidate">
    <input type="hidden" value="@Sysarea.ID" id="ID" name="ID" />
    <input type="hidden" value="@Sysarea.ParentID" id="ParentID" name="ParentID" />
    <table id="tblAdd" class="tableinfo" style=" margin-top:25px">
    
        <tr>
            <td align="right"><label for="Code">区域名称：</label></td>
            <td>
                <input style="width:134px;" value="@Sysarea.Name" class="easyui-validatebox" type="text" id="Name" name="Name" data-options="required:true" />
              
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center; padding-top:25px">
                <a href="javascript:void(0)" class="button-oky" id="btnSave" iconcls="icon-ok">确定</a>
                <a href="javascript:void(0)" class="button-cancel" iconcls="icon-cancel" id="btnClose">取消</a>
            </td>
        </tr>
    </table>
</form>
@section bottom{
   
<script src="~/Areas/Sys/ViewJs/EditArea.js"></script>
}

