@{
    ViewBag.Title = "出库单列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
}
<style>
    .searchpro .no {
        width: auto;
        height: auto;
        margin: 10px 3px 0 0;
    }

    .searchpro .pr10 {
        padding-right: 10px;
    }
</style>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',height:112" id="topdiv">
        <div class="toolbar" id="toolbar">
            <a href="javascript:void(0);" class="refresh" id="refresh"><span></span>刷新</a>
            <a href="javascript:void(0);" id="add" class="add"><span></span>添加出库单</a>
            <a href="javascript:void(0);" id="refreshCurrentPage" style="display:none;"><span></span>刷新当前页</a>
        </div>
        <div class="searchpro" id="searchpro">
            <select id="keyWordType" name="keyWordType" class="easyui-combobox" data-options="height:30,width:100,editable:false">
                <option value="">关键字类型</option>
                <option value="出库单号" selected>出库单号</option>
                <option value="出库单备注">出库单备注</option>
                <option value="商品编码">商品编码</option>
                <option value="商品SKU码">商品SKU码</option>
            </select>
            <input type="text" id="txtKeyWord" value="" style="width:150px;">
            <label>状态：</label>
            <input type="checkbox" name="state" id="state1" value="1" class="no" checked><label for="state1" class="pr10">未提交</label>
            <input type="checkbox" name="state" id="state2" value="2" class="no" checked><label for="state2" class="pr10">待审核</label>
            <input type="checkbox" name="state" id="state3" value="3" class="no"><label for="state3" class="pr10">已审核</label>
            <input type="button" id="btnSerach" value="搜索" class="button">
            <input type="reset" id="btnReset" value="清空条件" class="button-rest">

        </div>
    </div>
    <div data-options="region:'center',border:false" class="p0lr22">
        <table id="grid" class="easyui-datagrid" title="" data-options="singleSelect:false,collapsible:true,method:'get'"></table>
    </div>
</div>

@section bottom{
    <script src="~/Areas/Warehouse/ViewJs/WarehouseOutStockList.js"></script>
}
