@{
    ViewBag.Title = "售后列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <style>
        .searchpro .no {
            width: auto;
            height: auto;
            margin: 10px 3px 0 0;
        }

        .searchpro .pr10 {
            padding-right: 10px;
        }
    </style>
}
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',height:152" id="topdiv">
        <div class="toolbar" id="toolbar">
            <a href="javascript:void(0);" class="refresh" id="refresh"><span></span>刷新</a>
            <a href="javascript:void(0);" id="add" class="add"><span></span>添加售后</a>
            <a href="javascript:void(0);" id="refreshCurrentPage" style="display:none;"><span></span>刷新当前页</a>
        </div>
        <div class="searchpro" id="searchpro">
            <select id="keyWordType" name="keyWordType" class="easyui-combobox" data-options="height:30,width:100,editable:false">
                <option value="">关键字类型</option>
                <option value="订单编号" selected>订单编号</option>
                <option value="外部订单号">外部订单号</option>
                <option value="售后单号">售后单号</option>
                <option value="退回运单号">退回运单号</option>
                <option value="商品编码">商品编码</option>
                <option value="商品货号">商品货号</option>
                <option value="商品SKU码">商品SKU码</option>
                <option value="收件人姓名">收件人姓名</option>
                <option value="收件人手机">收件人手机</option>
            </select>
            <input type="text" id="txtKeyWord" value="" style="width:150px;">
            <label>售后类型：</label><select id="orderRefundType" class="easyui-combobox" name="orderRefundType" data-options="height:30,width:152,editable:false"></select>
            <label>责任方：</label><select id="orderRefundDuty" class="easyui-combobox" name="orderRefundDuty" data-options="height:30,width:152,editable:false"></select>
            <label>店铺名称：</label><select id="shop" name="shop" class="easyui-combobox" style="width:150px;" data-options="height:30"></select>
        </div>
        <div class="searchpro">
            <input type="checkbox" name="status" id="status1" value="10" class="no" checked="checked"><label for="status1" class="pr10">等待买家退货</label>
            <input type="checkbox" name="status" id="status2" value="20" class="no" checked="checked"><label for="status2" class="pr10">等待卖家收货</label>
            <input type="checkbox" name="status" id="status3" value="30" class="no" checked="checked"><label for="status3" class="pr10">收货异常</label>
            <input type="checkbox" name="status" id="status4" value="40" class="no"><label for="status4" class="pr10">已完成</label>
            <input type="checkbox" name="status" id="status5" value="99" class="no"><label for="status5" class="pr10">已取消</label>
            <input type="submit" id="btnSearch" value="搜索" class="button">
            <input type="reset" id="btnReset" value="清空条件" class="button-rest">
        </div>
    </div>
    <div data-options="region:'center',border:false" class="p0lr22">
        <table id="grid" class="easyui-datagrid" title="" data-options="singleSelect:false,collapsible:true,method:'get'"></table>
    </div>
</div>

@section bottom{
    <script src="~/Areas/Warehouse/ViewJs/OrderRefundInfoList.js"></script>
}