<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-PaiXie.Erp-20150902090124.mdf;Initial Catalog=aspnet-PaiXie.Erp-20150902090124;Integrated Security=True;User Instance=True"
    providerName="System.Data.SqlClient" />
  <!--开发服务器-->
  <add name="conn" connectionString="User Id=erpnet;pwd=123456;Allow User Variables=True;Host=10.0.0.7;Port=3306;Database=newerp;Character Set=utf8"
   providerName="MySql.Data.MySqlClient" />

  <!--测试服务器-->
  <!--<add name="conn" connectionString="User Id=erpnet;pwd=123456;Allow User Variables=True;Host=10.0.0.7;Port=3306;Database=erpnet;Character Set=utf8"
  providerName="MySql.Data.MySqlClient" />-->
</connectionStrings>
