<?xml version="1.0" encoding="utf-8"?>
<unity>
  <container name="ExcelContainer">
    <register type="PaiXie.Excel.Shared.IExportMin, PaiXie.Excel.Shared" mapTo="PaiXie.Excel.Npoi.ExportMin, PaiXie.Excel.Npoi" />
    <register type="PaiXie.Excel.Shared.IImportMin, PaiXie.Excel.Shared" mapTo="PaiXie.Excel.Npoi.ImportMin, PaiXie.Excel.Npoi" />
  </container>
</unity>
