body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1067px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:131px;
  top:2123px;
  width:936px;
  height:100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:936px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:932px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:100px;
  width:595px;
  height:984px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:984px;
}
#u3 {
  position:absolute;
  left:2px;
  top:484px;
  width:591px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:1094px;
  width:598px;
  height:1006px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:1006px;
}
#u5 {
  position:absolute;
  left:2px;
  top:495px;
  width:594px;
  visibility:hidden;
  word-wrap:break-word;
}
