body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-100px;
  width:897px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:100px;
  width:897px;
  height:823px;
  line-height:25px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:823px;
}
#u1 {
  position:absolute;
  left:5px;
  top:5px;
  width:887px;
  word-wrap:break-word;
}
