@using PaiXie.Data
@{
    var erpOrderCode = ViewBag.ErpOrderCode;
    var amount = ViewBag.Amount;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{}
<form id="ff" method="post" novalidate style="height:220px">
    <input type="hidden" name="ErpOrderCode" value="@(erpOrderCode)" />
    <table class="tableinfo" style="margin-top:25px; width:auto; margin-left:22px;">
        <tr id="type1tr">
            <th style="width:auto"><span class="red">*</span><span></span>收款金额：</th>
            <td><input value="@(amount)" class="easyui-textbox" type="text" name="Amount" data-options="height:30,width:100,required:true" /> <span>元</span></td>
        </tr>
        <tr>
            <th style="width:auto">收款备注：</th>
            <td>
                <input style="width:350px" value="" class="easyui-textbox" type="text" name="Remark" data-options="height:120,multiline:true" />
            </td>
        </tr>
    </table>
</form>
<div style="text-align:center; padding-top:10px" id="buttonbox">
    <a href="javascript:void(0)" class="button-oky" id="btnSave" iconcls="icon-ok">保存</a>
    <a href="javascript:void(0)" class="button-cancel" id="btnCancel" iconcls="icon-ok">关闭</a>
</div>
@section bottom{
    <script>
        $(document).ready(function () {
            $("#btnSave").click(function () {
                btnSave();
            });

            $("#btnCancel").click(function () {
                parent.$('#localWin').window('close');
            });

        });

        function btnSave() {
            $('#ff').form('submit', {
                url: "/Order/Details/SaveCollection",
                type: "POST",
                dataType: "json",
                onSubmit: function () {
                    var isValid = $(this).form('validate');
                    return isValid;	// 返回false终止表单提交
                },
                success: function (r) {
                    var map = $.parseJSON(r);
                    if (map.result == 1) {
                        parent.$('#localWin').window('close');
                        if (parent.$("#hdnIsOrderDetails").val() == "1") {
                            parent.window.location.reload();
                        }
                    } else {
                        $.MsgBox.Alert("提示", map.message);
                    }
                },
                error: function () {
                    $.MsgBox.Alert("提示", "操作失败,请重试或刷新！");
                }
            });
        }
    </script>
}
