@{
    var batchCode = ViewBag.BatchCode;
    var batchSource = ViewBag.BatchSource;
    var createDate = ViewBag.CreateDate;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{}
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',height:148" id="topdiv">
        <div class="toolbar" id="toolbar">
            <a href="javascript:history.go(-1)" class="back" id="back"><span></span>返回</a>
            <a href="javascript:void(0);" id="export"><span></span>导出</a>
        </div>
        <div class="searchpro" id="searchpro">
            <form id="ff" method="post">
                <input type="hidden" value="@batchCode" id="hdnBatchCode" />
                <select id="keyWordType" name="keyWordType" class="easyui-combobox" data-options="height:30,width:100,editable:false">
                    <option value="">关键字类型</option>
                    <option value="商品名称">商品名称</option>
                    <option value="商品编码" selected>商品编码</option>
                    <option value="商品SKU码">商品SKU码</option>
                </select>
                <label>分类：</label><input id="category" name="category" class="easyui-combotree" data-options="url:'/Products/Category/JsonTree?ram='+Math.random(),method:'get',height:30,width:82">
                <label>品牌：</label><select id="brand" name="brand" class="easyui-combobox" data-options="height:30,width:82"></select>
                <input type="button" id="btnSearch" value="搜索" class="button">
                <input type="button" id="btnReset" value="清空条件" class="button-rest">
            </form>
        </div>
        <div class="reservoirifo p0lr22">
            <span>批次号：@batchCode</span>
            <span>来源：@batchSource</span>
            <span>创建时间：@createDate</span>
        </div>
    </div>
    <div data-options="region:'center',border:false" style="padding:0 22px;">
        <table id="grid" class="easyui-datagrid" title="" data-options="singleSelect:false,collapsible:true,method:'get'"></table>
    </div>
</div>
@section bottom{
    <script src="~/Areas/Warehouse/ViewJs/BatchItemInfoList.js"></script>
}
