@using PaiXie.Data
@{
    var sourceID = ViewBag.SourceID;
    var outInStockID = ViewBag.OutInStockID;
    var outInStockBillNo = ViewBag.OutInStockBillNo;
    ViewBag.Title = "添加出库商品";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <style>
        .setlist {
            width: 650px;
            height: 155px;
            margin: 10px auto 0 auto;
            overflow: hidden;
            position: relative;
        }
        .setlist table table td {
            height: auto;
            border: 0px;
            white-space: normal;
            text-align: left;
        }
        .inputextbox {
            text-align: center;
            width: 100px;
        }
        .infoshow li {
            font-size: 14px;
            line-height: 32px;
            height: 36px;
        }
        .infoshow .red {
            color: #F00;
            padding-left: 0.5em;
        }
        .infotitle {
            line-height: 30px;
        }
    </style>
}
<div style="height:450px; overflow-y:auto; overflow-x:hidden;">
    <table class="tableinfo" style="margin-top:25px; width:auto; margin-left:22px;">
        <tr>
            <th style="width:auto">请输入商品SKU码：</th>
            <td><input style="width:200px" value="" class="easyui-validatebox" type="text" id="txtCode" name="Code" data-options="height:30" /></td>
            <td><a href="javascript:void(0);" class="button-okb" id="btnSearch" iconcls="icon-ok" style="height:28px; line-height:28px">查找</a></td>
        </tr>
    </table>
    <form id="ffpost" action="">
        <input type="hidden" id="hdnSourceID" name="sourceID" value="@sourceID" />
        <input type="hidden" id="hdnOutInStockBillNo" name="outInStockBillNo" value="@outInStockBillNo" />
        <input type="hidden" id="hdnOutInStockID" name="outInStockID" value="@outInStockID" />
        <input id="hdnProductsSkuID" name="ProductsSkuID" type="hidden" value="">
        <input id="hdnProductsSkuCode" name="ProductsSkuCode" type="hidden" value="">
        <input id="hdnProductsSkuSaleprop" name="ProductsSkuSaleprop" type="hidden" value="">
        <input id="hdnProductsCode" name="ProductsCode" type="hidden" value="">
        <input id="hdnProductsName" name="ProductsName" type="hidden" value="">
        <input id="hdnProductsNo" name="ProductsNo" type="hidden" value="">
        <input id="hdnProductsID" name="ProductsID" type="hidden" value="">
        <div class="p0lr22 infotitle ndis" id="infotitle"></div>
        <ul class="infoshow p0lr22 ndis" id="infoshow">
            <li></li>
            <li>
                选择出库库区：
                <input id="ReservoirArea" class="easyui-combobox" value="0" name="ReservoirArea"
                       data-options="height:30,panelHeight:69,width:120">
            </li>
        </ul>
        <div class="p0lr22 setlist ndis" id="setlist">
            <table id="grid" class="easyui-datagrid" title="" data-options="singleSelect:false,collapsible:true,method:'get'"></table>
        </div>
    </form>
    <div class="ndis" style=" text-align:center; padding-top:10px" id="buttonbox">
        <a href="javascript:void(0)" class="button-oky" id="btnSave" iconcls="icon-ok">添加</a>
        <a href="javascript:void(0)" class="button-cancel" id="btnClose" iconcls="icon-ok">取消</a>
    </div>
</div>
@section bottom{
    <script src="~/Areas/Warehouse/ViewJs/AddOutStockPro.js"></script>
}
