
.lbl,.val { margin-top:2px; margin-bottom:2px;}
.lbl{ color:#7e7789;}
.container_12,.container_16 { margin:0 0 2px 0; width:100%;}
.container_12 div.required,.container_16 div.required{ color: red;}

/*fix easyui start 样式调整修正 （与960冲突）*/
.datagrid table {margin-bottom:0px;}
.datagrid table td {vertical-align:middle;}
 
li{margin-left: 0;}
p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{	margin-bottom: 0;}
/*fix easyui end                              */

/*fix easyui start datagrid去边框（tabs）*/
.easyui-tabs .datagrid-wrap.panel-body{ border-width:0 !important;} 
/*fix easyui end    */

.datagrid-header .datagrid-cell { text-align: center !important;}
.datagrid-body .datagrid-btable{border-collapse: separate;} /* fix treegrid border  */