<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="vs:EnableBrowserLink" value="false" />
  <!--分页条数-->
  <add key="pagesize" value="20" />
  <!--登录过期时间-->
  <add key="LoginEffectiveHours" value="8" />
  <!--是否测试系统-->
  <add key="IsTestSys" value="true" />
  <!--拍鞋API地址-->
  <add key="PaiXie_Url" value="http://openapi.paixie.net"/>
  <!--微小店API地址-->
  <add key="WeiXiaoDian_Url" value="http://shopapi.v.com"/>
  <!--京东API地址-->
  <add key="JingDong_Url" value=""/>
  <!--拍鞋API分页条数-->
  <add key="PaiXie_PageSize" value="20"/>
  <!--微小店API分页条数-->
  <add key="WeiXiaoDian_PageSize" value="20"/>
  <!--京东API分页条数-->
  <add key="JingDong_PageSize" value="40"/>
  <!--日志路径-->
  <add key="LogPath" value="D:\erp_log\"/>
</appSettings>
