@{
    ViewBag.Title = "添加采购单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{

}
<form id="ff" method="post" novalidate>
    <table class="tableinfo" style="margin-top:20px">
        <tr>
            <th style="width:100px">请选择供应商：</th>
            <td>
                <select id="Suppliers" name="SuppliersID" class="easyui-combobox" data-options="required:true,editable:false,height:30,panelHeight:69,width:165,panelHeight:130"></select>
            </td>
        </tr>
        <tr>
            <th>选择对应仓库：</th>
            <td>
                <select id="Warehouse" name="WarehouseCode" class="easyui-combobox" data-options="required:true,editable:false,height:30,panelHeight:69,width:165,panelHeight:80"></select>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center; padding-top:10px">
                <a href="javascript:void(0)" class="button-oky" id="btnSave" iconcls="icon-ok">确定</a>
                <a href="javascript:void(0)" class="button-cancel" iconcls="icon-cancel" id="btnClose">取消</a>
            </td>

        </tr>
    </table>
</form>
@section bottom{
<script src="~/Areas/Purchase/ViewJs/AddPurchase.js"></script>
}