@using PaiXie.Core;
@{
    var id = ViewBag.ID;
    var printBatchCode = ViewBag.PrintBatchCode;
    ViewBag.Title = "打印发货单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <style>
        .tableinfo td {
            height: 30px;
            line-height: 30px;
        }
        .tableinfo td .button {
            border: 0px;
            background: #436fac;
            color: #fff;
            height: 30px;
            width: 90px;
            cursor: pointer;
        }
    </style>
    <script src="~/Scripts/PrintActivex.js"></script>
    <object id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0>
        <embed id="LODOP_EM" wmode="transparent" type="application/x-print-lodop" width=0 height=0>
    </object>
}
<form id="ff" method="post" novalidate="novalidate">
    <input type="hidden" id="hdnID" name="ID" value="@id" />
    <input type="hidden" id="hdnPrintBatchCode" name="PrintBatchCode" value="@printBatchCode" />
    <div id="showLodop" style="display:none;"></div>
    <table id="tblAdd" class="tableinfo" style="margin-top: 15px; ">
        <tr>
            <td width="35%" align="right">
                请选择打印机：
            </td>
            <td align="left">
                <input id="printerName" name="printerName" class="easyui-combobox" data-options="valueField:'value', textField:'text',editable:false, width:190,height:30,panelHeight:140">
            </td>
        </tr>
        <tr>
            <td align="right">
                发货单模版：
            </td>
            <td align="left">
                <select id="deliveryTemplate" name="deliveryTemplate" class="easyui-combobox" data-options="editable:false,width:190,height:30,panelHeight:90"></select>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <input type="button" id="btnPrint" class="button" value="直接打印" />&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="button" id="btnPreview" class="button" value="预览" />
            </td>
        </tr>
    </table>
</form>
@section bottom{
<script>
    $(function () {
        var id = $("#hdnID").val();
        var printBatchCode = $("#hdnPrintBatchCode").val();
        var deliveryExpressID = 0;
        var LODOP = getLodop(document.getElementById('LODOP_OB'), document.getElementById('LODOP_EM'), "showLODOP");
        var printTemplateType = '@((int)PrintTemplateType.发货单)';
        var printTemplateComboboxID = "deliveryTemplate";
        var printerComboboxID = "printerName";
        //绑定打印机
        bindPrinterName(LODOP, printerComboboxID, "");
        //绑定打印模版，并选中默认打印机
        bindPrintTemplate(LODOP, printTemplateComboboxID, printerComboboxID, printTemplateType);
        //直接打印
        $('#btnPrint').click(function () {
            var printTemplateID = $("#deliveryTemplate").combobox("getValue");
            var printerName = $("#printerName").combobox("getValue");
            print(id, printBatchCode, deliveryExpressID, printTemplateID, LODOP, printerName, printTemplateType, 0);
        });
        //预览
        $('#btnPreview').click(function () {
            var printTemplateID = $("#deliveryTemplate").combobox("getValue");
            var printerName = $("#printerName").combobox("getValue");
            print(id, printBatchCode, deliveryExpressID, printTemplateID, LODOP, printerName, printTemplateType, 1);
        });
    });
</script>
}