@{
    ViewBag.Title = "库区列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{

}
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',height:63" id="topdiv">
        <div class="toolbar" id="toolbar">
            <a href="javascript:void(0);" class="refresh" id="refresh"><span></span>刷新</a>
            <a href="javascript:void(0);" class="add" id="add"><span></span>添加库区</a>
            <a href="javascript:void(0);" class="del unclick" id="del"><span></span>删除</a>
            <a href="javascript:void(0);" id="refreshCurrentPage" style="display:none;"><span></span>刷新当前页</a>
        </div>
    </div>
    <div data-options="region:'center',border:false" class="p0lr22">
        <table id="grid" class="easyui-datagrid"
               data-options="singleSelect:false,collapsible:true,method:'get'"></table>
    </div>
</div>
@section bottom{
    <script src="~/Areas/Warehouse/ViewJs/LocationInfoList.js"></script>
}
