@using PaiXie.Data
@{
    var Sysuser = ViewBag.Sysuser as Sysuser;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
}
<div style="padding:20px">
    <form id="ff" method="post" novalidate="novalidate">
         <fieldset>
            <legend>修改资料</legend>
            <table id="tblAdd" class="tableinfo">
                <tr>
                    <th><label for="Code">姓名：</label></th>
                    <td>
                        <input style="width:120px;" value="@Sysuser.Name"
                               class="easyui-validatebox" type="text"     id="Name" name="Name" data-options="required:true" />
                    </td>

                </tr>
             

          
            </table>
        </fieldset>


     
        <br />
        <div class="textcenter">
            <a href="javascript:void(0)" class="button-oky" id="btnSave" iconcls="icon-ok">确定</a>
            <a href="javascript:void(0)" class="button-cancel" iconcls="icon-cancel" id="btnClose">取消</a>
        </div>
    </form>
</div>
@section bottom{

    <script src="~/Areas/Sys/ViewJs/UpdateName.js"></script>
}

